@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-Regular.ttf);
}
body {
    width: 95%;
    font-size: 20px;
    color: white;
    background: rgb(59, 45, 45);
    #nav__body {
        box-shadow: 0 -400px 100px -120px rgb(231, 103, 18) inset;
        animation: background 8s infinite alternate;
        width: 70%;
        border-radius: 2rem;
        margin: 0 auto;
        ul:first-child {
            top: 0;
            display: flex;
            flex-direction: row;
            justify-content: right;
            align-items: center;
            font-size: 24px;
            /* background: linear-gradient(to right, rgba(218, 152, 108), rgb(199, 101, 35)); */
            padding: 15px;
            border-radius: 13px;
            text-shadow: 0 0 3px rgba(0, 0, 0, 0.719);
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
          }
          ul li {
            list-style-type: none;
            transition: 0.5s;
            display: flex;
            align-items: center;
          }
          ul:first-child li:hover {
            box-shadow: 0 0 15px 5px orange;
            border-radius: 20px;
          }
          ul li a {
            list-style-type: none;
            margin: 10px 20px;
            color: white;
            text-decoration: none;
            &:visited {
                color: white;
                text-decoration: none;
              }
            &:active {
                color: rgb(236, 159, 57);
              }
          }
      }
      p {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        font-weight: 400;
        text-align: justify;
      }
      h1,
      h2 {
        // font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        font-family: Montserrat;
      }
      a:visited,
        a:link {
            color: white;
        }
        .clock {
          font-size: 18px;
          color: rgb(185, 182, 182);
        }
      .content .date {
        font-size: 18px;
        display: flex;
        justify-content: right;
        margin: 0 15px 0 0;
        color: rgb(184, 184, 184);
      }
      .pagebar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: rgb(248, 192, 89);
        font-size: 25px;
        letter-spacing: 3px;
        font-variant: small-caps;
        .previous {
            margin: 0 20px 0 0;
          }
        a:link,
        a:visited {
            color: inherit;
            cursor: pointer;
            text-decoration: none;
            }
      }
      hr {
        width: 30px;
        margin: -25px 40% 20px 40%;
      }
      .second {
        display: none;
        padding: 10px;
        background: linear-gradient(to top, rgb(240, 92, 47), rgb(236, 146, 29));
        margin: 0 0 0 -10px;
        border-radius: 15px;
        border-left: 3px solid rgb(248, 193, 91);
        border-right: 3px solid rgb(248, 193, 91);
        border-bottom: 3px solid rgb(248, 193, 91);
        li {
            padding: 5px 0 5px 0;
          }
          .personal {
            background-color: red;
            border-radius: 2vw;
          }
      }
      li:hover .second {
        display: block;
        top: 5rem;
        position: absolute;
        animation: appear 0.4s linear;
      }
      .second li:hover {
        background-color: rgba(240, 203, 41, 0.3);
        border-radius: 20px;
        margin: 0 -10px;
      }
      strong {
        display: inline-block;
        margin: 30px 0px;
        font-size: 27px;
      }
      figcaption {
        color: rgb(170, 151, 151);
      }

      @media (max-width: 1000px) {
        #nav__body {
          width: 90%;
        }
        #nav__body ul:first-child {
          font-size: 20px;
          padding: 15px;
        }
        .content p {
          padding: 10px 10%;
          font-size: 22px;
        }
        h1 {
          padding: 10px 10%;
          font-weight: 500;
        }
        .clock {
          margin-left: 3vw;
        }
        .content h2 {
          padding: 10px 15%;
        }
        .content ol {
          padding: 10px 10%;
          font-size: 22px;
        }
        figcaption {
            margin: 0 10%;
        }
        .figure_video {
            margin: -10px -10px 0 -10px;
        }
        img {
          width: 275px;
          height: 180px;
          border: 6px ridge rgba(241, 173, 85, 0.644);
          border-radius: 15px;
        }
        .figure_video_page8 {
          display: flex;
          margin-left: 5%;
         video {
          width: 145px;
          height: 250px;
          margin-right: 10px;
          display: inline-block;
        }
      }
        video {
            margin: 30px 5%;
            width: 330px;
            height: 185px;
            border: 6px ridge rgba(241, 173, 85, 0.644);
            border-radius: 15px;
          }
      }
      @media (min-width: 1000px) {
        .content p {
          padding: 10px 30%;
          font-size: 22px;
        }
        h1 {
          padding: 10px 30%;
        }
        .clock {
          margin-left: 5vw;
        }
        .content h2 {
          padding: 10px 35%;
        }
        .content ol {
          padding: 10px 30%;
          font-size: 22px;
        }
        figcaption {
            margin: 0 30%;
        }
        img {
          margin: 30px 30%;
          width: 600px;
          height: 400px;
          border: 6px ridge rgba(241, 173, 85, 0.644);
          border-radius: 15px;
        }
        .figure_video_page8 {
          display: flex;
          margin-left: 30%;
         video {
          width: 190px;
          display: inline-block;
        }
      }
        video {
          margin: 30px 30%;
          width: 600px;
          height: 340px;
          border: 6px ridge rgba(241, 173, 85, 0.644);
          border-radius: 15px;
        }
      }
      @keyframes background {
        50% {
          background: rgb(236, 90, 53);
          box-shadow: 0 -200px 100px -200px rgb(218, 172, 22) inset;
        }
      }
      @keyframes appear {
        from {
          opacity: 0;
          top: 2rem;
        }
        to {
          opacity: 1;
        }
      }
  }

  