$color__white: rgb(231, 221, 210);
$color__black: 0 0 5px rgba(0, 0, 0, 0.5);

@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-Regular.ttf);
}

::-webkit-scrollbar {
  width: 0;
}
html {
  scroll-behavior: smooth;
  body {
    font-size: 20px;
    color: $color__white;
    background: #000;
    width: 100%;
    .full-screen {
      position: relative;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      .full-screen__body {
        padding: 50px 25px;
        margin: 0 0 0 -20px;
        background-color: rgba(0, 0, 0, 0.5);
        position: relative;
        z-index: 1;
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-transform: uppercase;
      }
      .full-screen__title {
        letter-spacing: 25px;
        font-weight: 700;
        margin: 0px 0px 20px 20px;
        text-shadow: 0 0 10px orange;
        animation: glow 5s linear infinite, appearance 3s linear;
      }
      .full-screen__text {
        letter-spacing: 15px;
        animation: glow 5s linear infinite, appearance 4s linear;
      }
      .full-srceen__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    #nav__body {
      ul {
        top: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 3vw;
        flex: 1 1 auto;
        justify-content: right;
        align-items: center;
        font-size: 24px;
        text-align: center;
        margin: 20px 15px 0 -50px;
        &:first-child {
          li:hover {
            a {
              transition: 0.4s;
              color: rgba(255, 166, 0, 0.767);
            }
          }
        }
        li {
          list-style: none;
          a {
            list-style-type: none;
            margin: 10px 20px;
            color: $color__white;
            text-decoration: none;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
            &:visited {
              color: $color__white;
              text-decoration: none;  
            }
            &:active {
              color: rgb(121, 69, 2);
            }
          }
        }
      }
    } 
    .content {
      background: linear-gradient(
        to top,
        rgba(236, 170, 72, 1),
        rgba(194, 106, 24, 1)
      );
      padding: 10px 10px 30px 10px;
      margin: 0 0 20px -20px;
      .content__container {
        max-width: 1200px;
        margin: 0px auto;
        padding: 0px 10px;
        p {
          margin: 40px 0px;
          text-shadow: 0 0 3px rgba(0, 0, 0, 0.692);
          line-height: 150%;
          text-align: justify;
        }
        a:link {
          &:visited {
            color: $color__white;
            text-shadow: 0 0 1px black;
          }
        }
        h2 {
          // font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
          font-family: Montserrat;
          padding: 10px;
          line-height: 150%;
          text-shadow: 0 0 3px rgba(0, 0, 0, 0.74);
        }
        .under {
          text-decoration: underline;
        }
        .vladik {
          float: right;
          border-radius: 100rem;
          border: 15px solid orange;
          box-shadow: 0 0 20px -5px black;
        }
        .container__video {
          display: flex;
          flex-wrap: wrap;
          a img {
            border: 10px solid orange;
            border-radius: 35px;
            padding: 5px;
            margin: 10px;
            box-shadow: 0px 0px 3px black;
            transition: 0.5s;
            &:hover {
              transform: scale(0.99);
              box-shadow: 0 0 15px 10px rgba(250, 68, 68, 0.781);
              border: 8px solid rgba(255, 0, 0, 0.76);
              padding: 0px;
            }
          }
        }
        .blog-pages {
          p {
            width: 60vw;
            float: left;
          }
          .more__container {
            display: inline-block;
            text-align: center;
            background-color: rgb(252, 185, 62);
            animation: background-fire 10s ease-in infinite alternate;
            padding: 25px 15px;
            margin: 50px 0;
            border: 7px solid rgb(238, 151, 21);
            border-radius: 10rem;
            box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
            transition: 0.4s;
            text-decoration: none;
            &:hover {
              animation: none;
              background: rgb(233, 131, 35);
              border: 7px solid rgb(233, 131, 35);
            }
            &:active {
              background-color: rgb(197, 77, 8);
            }
            .more {
              font-weight: 900;
              margin: 20px;
              font-style: italic;
              animation: none;
              color: $color__white;
              text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
            }
          }
      }
    }
  }
    
    /*contacts info*/
    
    footer {
      background-color: rgb(83, 60, 60);
      color: rgb(248, 201, 169);
      height: 100%;
      font-size: 20px;
      margin: -25px -20px -50px -20px;
      p {
        padding: 20px 10% 20px 10%;
      }
      h2 {
        margin: 0 10% -20px 10%;
        padding: 20px 0 0 0;
        font-size: 23px;
      }
      .footer__hr {
        width: 80%;
        background-color: rgba(224, 147, 111, 0.795);
        height: 2px;
        border: none;
      }
      .contacts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        div {
          padding-right: 50px;
        }
        img {
          width: 50px;
        }
        span {
          display: block;
          text-align: center;
          margin: 10px 0 -20px 0;
        }
          a:link, a:visited{
              text-decoration: underline;
              color: rgba(243, 150, 96, 0.815);
            }
          a:hover {
            color: rgb(253, 154, 40);
            text-shadow: 0 0 5px rgba(255, 166, 0, 0.801);
            &:active {
              color: rgb(173, 91, 14);
            }
          }
        }
    }   
  }
}


@media (max-width: 560px) {
  .full-screen__title {
    text-align: center;
    font-size: 7vw;
    line-height: 170%;
  }
  .full-screen__text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
  }
  nav li {
    margin-bottom: 10vw;
    margin: 0 auto 4vw auto;
  }
  .content__container p {
    font-size: 20px;
    font-family: Georgia;
    line-height: 200%;
    text-indent: 10px;
    margin: 0 30px;
  }
  h2 {
    font-size: 33px;
    margin-left: 5vw;
  }
  .h2_hr {
    width: 90px;
    margin: -20px 10% 7vw 10%;
    border: 1px solid $color__white;
    box-shadow: $color__black;
  }
  .vladik {
    display: none;
    width: 40%;
    margin: 0 -10px 20px -50px;
  }
  .blog-pages {
    a {
      width: 70vw;
    }
  }
  .fire_icon {
    display: none;
  }
  .blog-pages {
    a {
      margin-top: 5vw;
    }
  }
  .more__container {
    width: 65%;
  }
  .more {
    font-size: 25px;
    text-align: center;
  }
  footer {
    width: 105%;
  }
  footer p {
    font-size: 18px;
  }
  .contacts {
    font-size: 20px;
  }
  .container__video a img {
    width: 80vw;
    height: 45vw;
  }
}
@media (min-width: 560px) and (max-width: 1300px) {
  .full-screen__title {
    text-align: center;
    font-size: 35px;
    line-height: 170%;
  }
  .full-screen__text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
  }
  .h2_hr {
    width: 90px;
    margin: -20px 10% 0 10%;
    border: 1px solid $color__white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.596);
  }
  .vladik {
    width: 300px;
    margin: 0px 0px 20px 80px;
  }
  .fire_icon {
    display: none;
  }
  .container__video a img {
    width: 520px;
    height: 280px;
  }
  .blog-pages {
    a {
      width: 50vw;
    }
  }
  .more__container {
    width: 31%;
  }
  footer {
    width: 102.2%;
  }
}
@media (min-width: 1300px) {
  .full-screen__title {
    font-size: 55px;
  }
  .full-screen__text {
    font-size: 25px;
    margin-top: 25px;
  }
  .content__container p {
    font-size: 22px;
    font-family: Georgia;
    line-height: 180%;
    text-indent: 10px;
  }
  h2 {
    font-size: 40px;
    margin: 50px;
  }
  .h2_hr {
    width: 90px;
    margin: -50px 10% 0 10%;
    border: 1px solid $color__white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .vladik {
    width: 400px;
    margin: 0px -50px 20px 80px;
  }
  .fire_icon {
    float: right;
    width: 220px;
    margin: 80px -525px 0 0;
  }
  .blog-pages {
    a {
      width: 40vw;
    }
  }
  .more {
    font-size: 27px;
  }
  .container__video a img {
    width: 520px;
    height: 280px;
  }
  footer {
    font-size: 20px;
    width: 101.25%;
  }
}
@keyframes glow {
  from {
    text-shadow: 2px 2px 5px rgb(252, 213, 169);
    color: rgba(255, 255, 255, 0.1);
  }
  40% {
    text-shadow: 2px 2px 5px rgb(223, 148, 63);
    color: rgba(255, 255, 255, 0.8);
  }
  60% {
    text-shadow: 2px 2px 5px rgb(223, 148, 63);
    color: rgba(255, 255, 255, 0.8);
  }
  to {
    text-shadow: 2px 2px 5px rgb(252, 213, 169);
    color: rgba(255, 255, 255, 0.1);
  }
}
@keyframes glow-2 {
  from {
    text-shadow: 2px 2px 5px rgb(252, 213, 169);
    color: rgba(143, 64, 64, 0.5);
  }
  30% {
    text-shadow: 2px 2px 5px rgb(207, 108, 42);
    color: rgba(221, 139, 139, 0.9);
  }
  65% {
    text-shadow: 2px 2px 5px rgb(228, 122, 24);
    color: rgba(233, 75, 75, 0.9);
  }
  to {
    text-shadow: 2px 2px 5px rgb(252, 213, 169);
    color: rgba(165, 74, 74, 0.5);
  }
}
@keyframes appearance {
  from {
    opacity: 0;
    text-shadow: 0 0 15px orange;
  }
  to {
    opacity: 100%;
    text-shadow: 2px 2px 5px rgb(252, 213, 169);
  }
}
@keyframes background-fire {
  50% {
    background-color: rgb(253, 146, 104);
  }
}
