body {
  font-size: 20px;
  color: white;
  background: #000;
}
#nav__body ul:first-child {
  top: 0;
  left: 30%;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: right;
  align-items: center;
  font-size: 24px;
  background-color: rgba(218, 152, 108);
  padding: 15px;
}
#nav__body ul li {
  list-style-type: none;
  transition: 0.5s;
}
#nav__body ul li a {
  list-style-type: none;
  margin: 10px 20px;
  color: white;
  text-decoration: none;
}
#nav__body ul li a:visited {
  color: white;
  text-decoration: none;
}
#nav__body ul li a:active {
  color: rgb(236, 159, 57);
}
.content p {
  padding: 10px 30%;
  font-size: 22px;
}
.content h2 {
  padding: 10px 35%;
}
.content ol {
  padding: 10px 30%;
  font-size: 22px;
}
.content .date {
  font-size: 18px;
  display: flex;
  justify-content: right;
  margin: 0 15px 0 0;
  color: rgb(184, 184, 184);
}
.pagebar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(248, 192, 89);
  font-size: 25px;
  letter-spacing: 3px;
  font-variant: small-caps;
}
.pagebar .previous {
  margin: 0 20px 0 0;
}
.pagebar a:link,
.pagebar a:visited {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
hr {
  width: 30px;
  margin: -25px 40% 20px 40%;
}
.second {
  display: none;
  padding: 10px;
  background-color: rgba(218, 152, 108);
  margin: 0 0 0 -10px;
}
.second li {
  padding: 10px 0 20px 0;
}
li:hover .second {
  display: block;
  position: absolute;
}
.second li:hover {
  background-color: rgb(253, 151, 61);
  margin: 0 -10px;
}
